extends _partials/layout

prepend config
  - title = "Apply Now | TEDxADMU"
  - activeLinkId = "apply"

block content
  .section.vdatu#section-apply
    .center-wrapper
      .text-wrapper
        .big-text Don't miss your chance to apply for TEDxADMU 2018 Re:Vision
        .sub-text-wrapper
          .sub-text Application period is from#[br]January 28&ndash;February 21, 2018
        .button-wrapper
          a.button.btn-frame(href="form.html" target="_blank") Apply Now
      .collage-wrapper
        .frame.foreground.three-d
        .frame.midground.three-d
        .frame.background.three-d
