extends _partials/layout

prepend config
  - title = "Mike del Castillo | TEDxADMU"
  - activeLinkId = ""

block header
  | 

block footer
  | 

block frame
  | 

block content
  .section.vdatu#section-form
    .center-wrapper
      .text-wrapper
        .big-text Unfortunately, this event has been long over
        .sub-text-wrapper
          .sub-text But that's okay. I've got a lot of other websites available on my portfolio. Hope you can check it out! -Mike del Castillo
        .button-wrapper
          a.button(href="http://mikedc.io" target="_blank") View Portfolio
