extends _partials/layout

prepend config
  - title = "Partners | TEDxADMU"
  - activeLinkId = "partners"

block content
  .section.vdatu#section-partners
    .center-wrapper
      .text-wrapper
        .big-text Hand-in-hand throughout the journey
        .sub-text-wrapper
          .sub-text TEDxADMU: Viewpoints last 2017 was a great experience for both the audience and the community; we could have not achieved this feat without our caring partners! This year, various partnerships are being arranged and designed for TEDxADMU 2018: Re:Vision.
          .sub-text If you want to join us in our quest to share ideas worth spreading, please get in touch with us through #[a.email-link(href="mailto:partnerships@tedxadmu.ph") partnerships@tedxadmu.ph]!
      .collage-wrapper
        .frame.foreground.three-d
        .frame.background.three-d
